# object files
*.d
*.o
*.pyc

# emacs temp files
*~
*
!*/
!*.*
cmp*.sh
power.txt
*.cfg
benchmarks/SimResults/old_stuff
# vi temp files
*.swp

# test output
sedqCe9s5
*.e*
*.o*
*.log
sim.out
sim.cfg
sim.info
sim.stats
sim.stats.base
sim.stats.delta
sim.stats.db
sim.stats.sqlite3
appdebug_port.out
debug_offset.out
graphite.out
cpi-stack.jpg
output_files
tools/cpistack-collect/cpistack-*
CHANGELOG
COMPILATION
CONTRIBUTORS
CmpResults
Doxyfile
LICENSE
LICENSE.interval
Makefile
Makefile.config
NOTICE
README
common
data.
compile.sh
install.sh
pin/
record-trace
run-sniper
sniper-6.0
standalone
test
benchmarks/benchmarks
benchmarks/compileBmarks
benchmarks/cpu2006
benchmarks/install_cpu2006
benchmarks/jikes
benchmarks/local
benchmarks/Makefile
benchmarks/npb
benchmarks/parsec
benchmarks/run-sniper
benchmarks/splash2
benchmarks/suites.py
benchmarks/suites.pyc
benchmarks/tools
benchmarks/SimResults/cpu_trace


# compiled libraries
lib
config
docs
.build_os
include
sift
sift
sift
tools

# result files
results/
!results/.DO_NOT_DELETE

# dependencies
boost_1_38_0
pin_kit
linux_2_6_32
mcpat
python_kit
./benchmarks/cpu2006/CPU2006/400.perlbench/data/all/input/lib/ham.pl
./benchmarks/cpu2006/CPU2006/450.soplex/data/ref/input/ref.mps
./benchmarks/cpu2006/CPU2006/450.soplex/data/ref/input/pds-50.mps
./benchmarks/cpu2006/CPU2006/483.xalancbmk/data/ref/output/ref.out
./benchmarks/cpu2006/CPU2006/483.xalancbmk/data/ref/input/t5.xml
./benchmarks/cpu2006/CPU2006/483.xalancbmk/data/train/input/allbooks.xml
./benchmarks/cpu2006/CPU2006/483.xalancbmk/data/train/output/train.out
./benchmarks/cpu2006/CPU2006/464.h264ref/data/ref/input/sss.yuv
./benchmarks/cpu2006/CPU2006/456.hmmer/data/ref/input/swiss41
./benchmarks/cpu2006/CPU2006/401.bzip2/data/all/input/input.combined
./benchmarks/cpu2006/CPU2006/401.bzip2/data/ref/input/input.source
./benchmarks/SimResults/Paper2_rr_spec_ml/run/data./namd.0.sift
./benchmarks/SimResults/Paper2_rr_spec_ml/run/data./xalancbmk.0.sift
./benchmarks/SimResults/Paper2_rr_spec_ml/run/data./leslie3d.0.sift
./benchmarks/SimResults/Paper2_rr_spec_ml/run/data./astar.0.sift
./benchmarks/SimResults/combinations_spec_ml_fulltrained/run/data./libquantum.0.sift
./benchmarks/SimResults/combinations_spec_ml_fulltrained/run/data./calculix.0.sift
./benchmarks/SimResults/Paper2_rr_spec_base/run/data./leslie3d.0.sift
./benchmarks/SimResults/Paper2_rr_spec_base/run/data./astar.0.sift
./benchmarks/SimResults/Paper2_rr_spec_base/run/data./xalancbmk.0.sift
./benchmarks/SimResults/Paper2_rr_spec_base/run/data./namd.0.sift
./benchmarks/SimResults/combinations_spec_ml/run/data./cactusADM.0.sift
./benchmarks/SimResults/combinations_spec_ml/run/data./gcc.0.sift
./benchmarks/SimResults/combinations_spec_ml/run/data./astar.0.sift
./benchmarks/SimResults/combinations_spec_ml/run/data./bwaves.0.sift
./benchmarks/SimResults/full_splash_spec_fg_allStats.out
./benchmarks/SimResults/Paper2_fair_spec_ml/run/data./namd.0.sift
./benchmarks/SimResults/Paper2_fair_spec_ml/run/data./gamess.0.sift
./benchmarks/SimResults/Paper2_fair_spec_ml/run/data./mcf.0.sift
./benchmarks/SimResults/Paper2_fair_spec_ml/run/data./astar.0.sift
./benchmarks/SimResults/Paper2_fair_spec_ml/run/data./leslie3d.0.sift
./benchmarks/SimResults/Paper2_fair_spec_ml/run/data./milc.0.sift
./benchmarks/SimResults/Paper2_fair_spec_ml/run/data./zeusmp.0.sift
./benchmarks/SimResults/Paper2_fair_spec_ml/run/data./xalancbmk.0.sift
./benchmarks/SimResults/combinations_spec_ml_deepnet/run/data./cactusADM.0.sift
./benchmarks/SimResults/combinations_spec_ml_deepnet/run/data./bwaves.0.sift
./benchmarks/SimResults/combinations_spec_ml_deepnet/run/data./gcc.0.sift
./benchmarks/SimResults/combinations_spec_ml_deepnet/run/data./astar.0.sift
./benchmarks/SimResults/cpu_trace/gamess2/gamess.2.sift
./benchmarks/SimResults/cpu_trace/gamess2/gamess.3.sift
./benchmarks/SimResults/cpu_trace/gamess2/gamess.1.sift
./benchmarks/SimResults/cpu_trace/gamess2/gamess.0.sift
./benchmarks/SimResults/cpu_trace/hmmer2/hmmer.3.sift
./benchmarks/SimResults/cpu_trace/hmmer2/hmmer.2.sift
./benchmarks/SimResults/cpu_trace/hmmer2/hmmer.0.sift
./benchmarks/SimResults/cpu_trace/milc2/milc.3.sift
./benchmarks/SimResults/cpu_trace/milc2/milc.2.sift
./benchmarks/SimResults/cpu_trace/milc2/milc.0.sift
./benchmarks/SimResults/cpu_trace/milc2/milc.1.sift
./benchmarks/SimResults/cpu_trace/namd2/namd.3.sift
./benchmarks/SimResults/cpu_trace/namd2/namd.2.sift
./benchmarks/SimResults/cpu_trace/namd2/namd.0.sift
./benchmarks/SimResults/cpu_trace/namd2/namd.1.sift
./benchmarks/SimResults/cpu_trace/lbm2/lbm.0.sift
./benchmarks/SimResults/cpu_trace/lbm2/lbm.1.sift
./benchmarks/SimResults/cpu_trace/lbm2/lbm.3.sift
./benchmarks/SimResults/cpu_trace/lbm2/lbm.2.sift
./benchmarks/SimResults/cpu_trace/xalancbmk2/xalancbmk.2.sift
./benchmarks/SimResults/cpu_trace/xalancbmk2/xalancbmk.o6568761
./benchmarks/SimResults/cpu_trace/xalancbmk2/xalancbmk.o1423667
./benchmarks/SimResults/cpu_trace/xalancbmk2/xalancbmk.3.sift
./benchmarks/SimResults/cpu_trace/xalancbmk2/xalancbmk.o6558530
./benchmarks/SimResults/cpu_trace/xalancbmk2/sedGeuWqj
./benchmarks/SimResults/cpu_trace/xalancbmk2/xalancbmk.0.sift
./benchmarks/SimResults/cpu_trace/xalancbmk2/xalancbmk.o6512598
./benchmarks/SimResults/cpu_trace/libquantum2/libquantum.0.sift
./benchmarks/SimResults/cpu_trace/libquantum2/libquantum.1.sift
./benchmarks/SimResults/cpu_trace/libquantum2/libquantum.3.sift
./benchmarks/SimResults/cpu_trace/libquantum2/libquantum.2.sift
./benchmarks/SimResults/cpu_trace/cactusADM2/cactusADM.0.sift
./benchmarks/SimResults/cpu_trace/cactusADM2/cactusADM.1.sift
./benchmarks/SimResults/cpu_trace/cactusADM2/cactusADM.3.sift
./benchmarks/SimResults/cpu_trace/cactusADM2/cactusADM.2.sift
./benchmarks/SimResults/cpu_trace/zeusmp2/zeusmp.2.sift
./benchmarks/SimResults/cpu_trace/zeusmp2/zeusmp.3.sift
./benchmarks/SimResults/cpu_trace/zeusmp2/zeusmp.1.sift
./benchmarks/SimResults/cpu_trace/zeusmp2/zeusmp.0.sift
./benchmarks/SimResults/cpu_trace/gobmk2/gobmk.2.sift
./benchmarks/SimResults/cpu_trace/gobmk2/gobmk.3.sift
./benchmarks/SimResults/cpu_trace/gobmk2/gobmk.1.sift
./benchmarks/SimResults/cpu_trace/gobmk2/gobmk.0.sift
./benchmarks/SimResults/cpu_trace/povray2/povray.0.sift
./benchmarks/SimResults/cpu_trace/povray2/povray.1.sift
./benchmarks/SimResults/cpu_trace/povray2/povray.3.sift
./benchmarks/SimResults/cpu_trace/povray2/povray.2.sift
./benchmarks/SimResults/cpu_trace/mcf2/mcf.0.sift
./benchmarks/SimResults/cpu_trace/mcf2/mcf.1.sift
./benchmarks/SimResults/cpu_trace/mcf2/mcf.3.sift
./benchmarks/SimResults/cpu_trace/mcf2/mcf.2.sift
./benchmarks/SimResults/cpu_trace/calculix2/calculix.1.sift
./benchmarks/SimResults/cpu_trace/calculix2/calculix.0.sift
./benchmarks/SimResults/cpu_trace/calculix2/calculix.2.sift
./benchmarks/SimResults/cpu_trace/calculix2/calculix.3.sift
./benchmarks/SimResults/cpu_trace/gromacs2/gromacs.1.sift
./benchmarks/SimResults/cpu_trace/gromacs2/gromacs.0.sift
./benchmarks/SimResults/cpu_trace/gromacs2/gromacs.2.sift
./benchmarks/SimResults/cpu_trace/gromacs2/gromacs.3.sift
./benchmarks/SimResults/cpu_trace/tonto2/tonto.2.sift
./benchmarks/SimResults/cpu_trace/tonto2/tonto.3.sift
./benchmarks/SimResults/cpu_trace/tonto2/tonto.1.sift
./benchmarks/SimResults/cpu_trace/tonto2/tonto.0.sift
./benchmarks/SimResults/cpu_trace/h264ref2/h264ref.3.sift
./benchmarks/SimResults/cpu_trace/h264ref2/h264ref.2.sift
./benchmarks/SimResults/cpu_trace/h264ref2/h264ref.0.sift
./benchmarks/SimResults/cpu_trace/h264ref2/h264ref.1.sift
./benchmarks/SimResults/cpu_trace/bwaves2/bwaves.1.sift
./benchmarks/SimResults/cpu_trace/bwaves2/bwaves.0.sift
./benchmarks/SimResults/cpu_trace/bwaves2/bwaves.2.sift
./benchmarks/SimResults/cpu_trace/bwaves2/bwaves.3.sift
./benchmarks/SimResults/cpu_trace/astar2/astar.0.sift
./benchmarks/SimResults/cpu_trace/astar2/astar.3.sift
./benchmarks/SimResults/cpu_trace/astar2/astar.2.sift
./benchmarks/SimResults/cpu_trace/omnetpp2/omnetpp.3.sift
./benchmarks/SimResults/cpu_trace/omnetpp2/omnetpp.2.sift
./benchmarks/SimResults/cpu_trace/omnetpp2/omnetpp.0.sift
./benchmarks/SimResults/cpu_trace/GemsFDTD2/GemsFDTD.0.sift
./benchmarks/SimResults/cpu_trace/GemsFDTD2/GemsFDTD.1.sift
./benchmarks/SimResults/cpu_trace/GemsFDTD2/GemsFDTD.3.sift
./benchmarks/SimResults/cpu_trace/GemsFDTD2/GemsFDTD.2.sift
./benchmarks/SimResults/cpu_trace/sjeng2/sjeng.0.sift
./benchmarks/SimResults/cpu_trace/sjeng2/sjeng.2.sift
./benchmarks/SimResults/cpu_trace/sjeng2/sjeng.3.sift
./benchmarks/SimResults/cpu_trace/leslie3d2/leslie3d.1.sift
./benchmarks/SimResults/cpu_trace/leslie3d2/leslie3d.0.sift
./benchmarks/SimResults/cpu_trace/leslie3d2/leslie3d.2.sift
./benchmarks/SimResults/cpu_trace/leslie3d2/leslie3d.3.sift
./benchmarks/SimResults/cpu_trace/perlbench2/perlbench.2.sift
./benchmarks/SimResults/cpu_trace/perlbench2/perlbench.3.sift
./benchmarks/SimResults/cpu_trace/perlbench2/perlbench.0.sift
./benchmarks/SimResults/cpu_trace/gcc2/gcc.3.sift
./benchmarks/SimResults/cpu_trace/gcc2/gcc.2.sift
./benchmarks/SimResults/cpu_trace/gcc2/gcc.0.sift
./benchmarks/SimResults/cpu_trace/gcc2/gcc.1.sift
./benchmarks/SimResults/cpu_trace/soplex2/soplex.1.sift
./benchmarks/SimResults/cpu_trace/soplex2/soplex.0.sift
./benchmarks/SimResults/cpu_trace/soplex2/soplex.2.sift
./benchmarks/SimResults/cpu_trace/soplex2/soplex.3.sift
./benchmarks/SimResults/cpu_trace/bzip22/bzip2.0.sift
./benchmarks/SimResults/cpu_trace/bzip22/bzip2.1.sift
./benchmarks/SimResults/cpu_trace/bzip22/bzip2.3.sift
./benchmarks/SimResults/cpu_trace/bzip22/bzip2.2.sift
./benchmarks/SimResults/Paper2_fair_spec_base/run/data./xalancbmk.0.sift
./benchmarks/SimResults/Paper2_fair_spec_base/run/data./mcf.0.sift
./benchmarks/SimResults/Paper2_fair_spec_base/run/data./astar.0.sift
./benchmarks/SimResults/Paper2_fair_spec_base/run/data./namd.0.sift
./benchmarks/SimResults/Paper2_fair_spec_base/run/data./gamess.0.sift
./benchmarks/SimResults/Paper2_fair_spec_base/run/data./leslie3d.0.sift
./benchmarks/SimResults/Paper2_pinned_spec_base/run/data./astar.0.sift
./benchmarks/SimResults/Paper2_pinned_spec_base/run/data./leslie3d.0.sift
./benchmarks/SimResults/Paper2_pinned_spec_base/run/data./xalancbmk.0.sift
./benchmarks/SimResults/Paper2_pinned_spec_base/run/data./namd.0.sift
./benchmarks/SimResults/Paper2_pinned_spec_ml/run/data./namd.0.sift
./benchmarks/SimResults/Paper2_pinned_spec_ml/run/data./leslie3d.0.sift
./benchmarks/SimResults/Paper2_pinned_spec_ml/run/data./xalancbmk.0.sift
./benchmarks/SimResults/Paper2_pinned_spec_ml/run/data./astar.0.sift
./benchmarks/SimResults/old_stuff/oldresults/spec_baseline/run/data./libquantum.0.sift
./benchmarks/SimResults/old_stuff/_baseline_splash_stats_fg/pinnedbarnes/stats.out
./benchmarks/SimResults/old_stuff/_baseline_splash_stats_fg/pinnedocean.ncont/stats.out
./benchmarks/SimResults/old_stuff/_baseline_splash_stats_fg/allStats.out
./benchmarks/SimResults/old_stuff/_baseline_splash_stats_fg/pinnedcholesky/stats.out
./benchmarks/SimResults/old_stuff/_baseline_splash_stats_fg/pinnedocean.cont/stats.out
./benchmarks/SimResults/old_stuff/_baseline_splash_stats_fg/pinnedradix/stats.out
./benchmarks/SimResults/old_stuff/_baseline_splash_stats_fg/pinnedradiosity/stats.out
./benchmarks/SimResults/old_stuff/_baseline_splash_stats_fg/pinnedlu.ncont/stats.out
./benchmarks/SimResults/old_stuff/_baseline_spec_stats_fg/pinnedbwaves/stats.out
./benchmarks/SimResults/old_stuff/_baseline_spec_stats_fg/pinnedgobmk/stats.out
./benchmarks/SimResults/old_stuff/_baseline_spec_stats_fg/pinnedastar/stats.out
./benchmarks/SimResults/old_stuff/_baseline_spec_stats_fg/pinnedlibquantum/stats.out
./benchmarks/SimResults/old_stuff/_baseline_spec_stats_fg/pinnedgromacs/stats.out
./benchmarks/SimResults/old_stuff/_baseline_spec_stats_fg/pinnedxalancbmk/stats.out
./benchmarks/SimResults/old_stuff/_baseline_spec_stats_fg/pinnedpovray/stats.out
./benchmarks/SimResults/old_stuff/_baseline_spec_stats_fg/allStats.out
./benchmarks/SimResults/old_stuff/_baseline_spec_stats_fg/pinnedomnetpp/stats.out
./benchmarks/SimResults/old_stuff/_baseline_spec_stats_fg/pinnedlbm/stats.out
./benchmarks/SimResults/old_stuff/_baseline_spec_stats_fg/pinnedgcc/stats.out
./benchmarks/SimResults/old_stuff/_baseline_spec_stats_fg/pinnedcactusADM/stats.out
./benchmarks/SimResults/old_stuff/_baseline_spec_stats_fg/pinnedhmmer/stats.out
./benchmarks/SimResults/old_stuff/_baseline_spec_stats_fg/pinnedGemsFDTD/stats.out
./benchmarks/SimResults/old_stuff/_baseline_spec_stats_fg/pinnednamd/stats.out
./benchmarks/SimResults/old_stuff/_baseline_spec_stats_fg/pinnedh264ref/stats.out
./benchmarks/SimResults/old_stuff/_baseline_spec_stats_fg/pinnedbzip2/stats.out
./benchmarks/SimResults/old_stuff/_baseline_spec_stats_fg/pinnedmilc/stats.out
./benchmarks/SimResults/old_stuff/_baseline_spec_stats_fg/pinnedmcf/stats.out
./benchmarks/SimResults/old_stuff/_baseline_spec_stats_fg/pinnedgamess/stats.out
./benchmarks/SimResults/old_stuff/_baseline_spec_stats_fg/pinnedzeusmp/stats.out
./benchmarks/SimResults/old_stuff/_baseline_spec_stats_fg/pinnedleslie3d/stats.out
./benchmarks/SimResults/old_stuff/_baseline_spec_stats_fg/pinnedperlbench/stats.out
./benchmarks/SimResults/old_stuff/_baseline_spec_stats_fg/pinnedtonto/stats.out
./benchmarks/SimResults/old_stuff/_baseline_spec_stats_fg/pinnedcalculix/stats.out
./benchmarks/SimResults/old_stuff/_baseline_spec_stats_fg/pinnedsoplex/stats.out
./benchmarks/SimResults/old_stuff/_baseline_spec_stats_fg/pinnedsjeng/stats.out
./lib/pin_sim.so
./lib/libcarbon_sim.a
./lib/sniper
pin_kit/ia32/lib/libpinvm.a
pin_kit/intel64/lib/libpinvm.a
benchmarks/cpu2006/CPU2006/400.perlbench/data/all/input/lib/ham.pl
benchmarks/cpu2006/CPU2006/400.perlbench/data/all/input/lib/spam.pl
benchmarks/cpu2006/CPU2006/450.soplex/data/ref/input/ref.mps
benchmarks/cpu2006/CPU2006/450.soplex/data/ref/input/pds-50.mps
benchmarks/cpu2006/CPU2006/450.soplex/data/train/input/train.mps
benchmarks/cpu2006/CPU2006/450.soplex/data/train/input/pds-20.mps
benchmarks/cpu2006/CPU2006/483.xalancbmk/data/ref/output/ref.out
benchmarks/cpu2006/CPU2006/483.xalancbmk/data/ref/input/t5.xml
benchmarks/cpu2006/CPU2006/483.xalancbmk/data/train/input/allbooks.xml
benchmarks/cpu2006/CPU2006/483.xalancbmk/data/train/output/train.out
benchmarks/cpu2006/CPU2006/416.gamess/src/gamess
benchmarks/cpu2006/CPU2006/416.gamess/exe/gamess_base.sniper-x86_64
benchmarks/cpu2006/CPU2006/464.h264ref/data/all/input/foreman_qcif.yuv
benchmarks/cpu2006/CPU2006/464.h264ref/data/ref/input/sss.yuv
benchmarks/cpu2006/CPU2006/456.hmmer/data/ref/input/swiss41
benchmarks/cpu2006/CPU2006/481.wrf/data/test/input/wrfbdy_d01
benchmarks/cpu2006/CPU2006/481.wrf/data/train/input/wrfbdy_d01
benchmarks/cpu2006/CPU2006/481.wrf/data/ref/input/wrfinput_d01
benchmarks/cpu2006/CPU2006/401.bzip2/data/all/input/input.combined
benchmarks/cpu2006/CPU2006/401.bzip2/data/ref/input/input.source
benchmarks/SimResults/Paper2_rr_spec_ml/run/data./namd.0.sift
benchmarks/SimResults/Paper2_rr_spec_ml/run/data./xalancbmk.0.sift
benchmarks/SimResults/Paper2_rr_spec_ml/run/data./leslie3d.0.sift
benchmarks/SimResults/Paper2_rr_spec_ml/run/data./astar.0.sift
benchmarks/SimResults/combinations_spec_ml_fulltrained/run/data./libquantum.0.sift
benchmarks/SimResults/combinations_spec_ml_fulltrained/run/data./calculix.0.sift
benchmarks/SimResults/Paper2_rr_spec_base/run/data./leslie3d.0.sift
benchmarks/SimResults/Paper2_rr_spec_base/run/data./astar.0.sift
benchmarks/SimResults/Paper2_rr_spec_base/run/data./xalancbmk.0.sift
benchmarks/SimResults/Paper2_rr_spec_base/run/data./namd.0.sift
benchmarks/SimResults/combinations_spec_ml/run/data./cactusADM.0.sift
benchmarks/SimResults/combinations_spec_ml/run/data./gcc.0.sift
benchmarks/SimResults/combinations_spec_ml/run/data./astar.0.sift
benchmarks/SimResults/combinations_spec_ml/run/data./bwaves.0.sift
benchmarks/SimResults/full_splash_spec_fg_allStats.out
benchmarks/SimResults/Paper2_fair_spec_ml/run/data./namd.0.sift
benchmarks/SimResults/Paper2_fair_spec_ml/run/data./gamess.0.sift
benchmarks/SimResults/Paper2_fair_spec_ml/run/data./mcf.0.sift
benchmarks/SimResults/Paper2_fair_spec_ml/run/data./astar.0.sift
benchmarks/SimResults/Paper2_fair_spec_ml/run/data./leslie3d.0.sift
benchmarks/SimResults/Paper2_fair_spec_ml/run/data./milc.0.sift
benchmarks/SimResults/Paper2_fair_spec_ml/run/data./zeusmp.0.sift
benchmarks/SimResults/Paper2_fair_spec_ml/run/data./xalancbmk.0.sift
benchmarks/SimResults/combinations_spec_ml_deepnet/run/data./cactusADM.0.sift
benchmarks/SimResults/combinations_spec_ml_deepnet/run/data./bwaves.0.sift
benchmarks/SimResults/combinations_spec_ml_deepnet/run/data./gcc.0.sift
benchmarks/SimResults/combinations_spec_ml_deepnet/run/data./astar.0.sift
benchmarks/SimResults/_bigLittle_hrrs_splash_tugberk_locality/cmp_ocean.ncont/stats.out
benchmarks/SimResults/cpu_trace/gamess2/gamess.2.sift
benchmarks/SimResults/cpu_trace/gamess2/gamess.3.sift
benchmarks/SimResults/cpu_trace/gamess2/gamess.1.sift
benchmarks/SimResults/cpu_trace/gamess2/gamess.0.sift
benchmarks/SimResults/cpu_trace/hmmer2/hmmer.3.sift
benchmarks/SimResults/cpu_trace/hmmer2/hmmer.2.sift
benchmarks/SimResults/cpu_trace/hmmer2/hmmer.0.sift
benchmarks/SimResults/cpu_trace/milc2/milc.3.sift
benchmarks/SimResults/cpu_trace/milc2/milc.2.sift
benchmarks/SimResults/cpu_trace/milc2/milc.0.sift
benchmarks/SimResults/cpu_trace/milc2/milc.1.sift
benchmarks/SimResults/cpu_trace/namd2/namd.3.sift
benchmarks/SimResults/cpu_trace/namd2/namd.2.sift
benchmarks/SimResults/cpu_trace/namd2/namd.0.sift
benchmarks/SimResults/cpu_trace/namd2/namd.1.sift
benchmarks/SimResults/cpu_trace/lbm2/lbm.0.sift
benchmarks/SimResults/cpu_trace/lbm2/lbm.1.sift
benchmarks/SimResults/cpu_trace/lbm2/lbm.3.sift
benchmarks/SimResults/cpu_trace/lbm2/lbm.2.sift
benchmarks/SimResults/cpu_trace/xalancbmk2/xalancbmk.2.sift
benchmarks/SimResults/cpu_trace/xalancbmk2/xalancbmk.o6568761
benchmarks/SimResults/cpu_trace/xalancbmk2/xalancbmk.o1423667
benchmarks/SimResults/cpu_trace/xalancbmk2/xalancbmk.3.sift
benchmarks/SimResults/cpu_trace/xalancbmk2/xalancbmk.o6558530
benchmarks/SimResults/cpu_trace/xalancbmk2/sedGeuWqj
benchmarks/SimResults/cpu_trace/xalancbmk2/xalancbmk.0.sift
benchmarks/SimResults/cpu_trace/xalancbmk2/xalancbmk.o6512598
benchmarks/SimResults/cpu_trace/libquantum2/libquantum.0.sift
benchmarks/SimResults/cpu_trace/libquantum2/libquantum.1.sift
benchmarks/SimResults/cpu_trace/libquantum2/libquantum.3.sift
benchmarks/SimResults/cpu_trace/libquantum2/libquantum.2.sift
benchmarks/SimResults/cpu_trace/cactusADM2/cactusADM.0.sift
benchmarks/SimResults/cpu_trace/cactusADM2/cactusADM.1.sift
benchmarks/SimResults/cpu_trace/cactusADM2/cactusADM.3.sift
benchmarks/SimResults/cpu_trace/cactusADM2/cactusADM.2.sift
benchmarks/SimResults/cpu_trace/zeusmp2/zeusmp.2.sift
benchmarks/SimResults/cpu_trace/zeusmp2/zeusmp.3.sift
benchmarks/SimResults/cpu_trace/zeusmp2/zeusmp.1.sift
benchmarks/SimResults/cpu_trace/zeusmp2/zeusmp.0.sift
benchmarks/SimResults/cpu_trace/gobmk2/gobmk.2.sift
benchmarks/SimResults/cpu_trace/gobmk2/gobmk.3.sift
benchmarks/SimResults/cpu_trace/gobmk2/gobmk.1.sift
benchmarks/SimResults/cpu_trace/gobmk2/gobmk.0.sift
benchmarks/SimResults/cpu_trace/povray2/povray.0.sift
benchmarks/SimResults/cpu_trace/povray2/povray.1.sift
benchmarks/SimResults/cpu_trace/povray2/povray.3.sift
benchmarks/SimResults/cpu_trace/povray2/povray.2.sift
benchmarks/SimResults/cpu_trace/mcf2/mcf.0.sift
benchmarks/SimResults/cpu_trace/mcf2/mcf.1.sift
benchmarks/SimResults/cpu_trace/mcf2/mcf.3.sift
benchmarks/SimResults/cpu_trace/mcf2/mcf.2.sift
benchmarks/SimResults/cpu_trace/calculix2/calculix.1.sift
benchmarks/SimResults/cpu_trace/calculix2/calculix.0.sift
benchmarks/SimResults/cpu_trace/calculix2/calculix.2.sift
benchmarks/SimResults/cpu_trace/calculix2/calculix.3.sift
benchmarks/SimResults/cpu_trace/gromacs2/gromacs.1.sift
benchmarks/SimResults/cpu_trace/gromacs2/gromacs.0.sift
benchmarks/SimResults/cpu_trace/gromacs2/gromacs.2.sift
benchmarks/SimResults/cpu_trace/gromacs2/gromacs.3.sift
benchmarks/SimResults/cpu_trace/tonto2/tonto.2.sift
benchmarks/SimResults/cpu_trace/tonto2/tonto.3.sift
benchmarks/SimResults/cpu_trace/tonto2/tonto.1.sift
benchmarks/SimResults/cpu_trace/tonto2/tonto.0.sift
benchmarks/SimResults/cpu_trace/h264ref2/h264ref.3.sift
benchmarks/SimResults/cpu_trace/h264ref2/h264ref.2.sift
benchmarks/SimResults/cpu_trace/h264ref2/h264ref.0.sift
benchmarks/SimResults/cpu_trace/h264ref2/h264ref.1.sift
benchmarks/SimResults/cpu_trace/bwaves2/bwaves.1.sift
benchmarks/SimResults/cpu_trace/bwaves2/bwaves.0.sift
benchmarks/SimResults/cpu_trace/bwaves2/bwaves.2.sift
benchmarks/SimResults/cpu_trace/bwaves2/bwaves.3.sift
benchmarks/SimResults/cpu_trace/astar2/astar.0.sift
benchmarks/SimResults/cpu_trace/astar2/astar.3.sift
benchmarks/SimResults/cpu_trace/astar2/astar.2.sift
benchmarks/SimResults/cpu_trace/omnetpp2/omnetpp.3.sift
benchmarks/SimResults/cpu_trace/omnetpp2/omnetpp.2.sift
benchmarks/SimResults/cpu_trace/omnetpp2/omnetpp.0.sift
benchmarks/SimResults/cpu_trace/GemsFDTD2/GemsFDTD.0.sift
benchmarks/SimResults/cpu_trace/GemsFDTD2/GemsFDTD.1.sift
benchmarks/SimResults/cpu_trace/GemsFDTD2/GemsFDTD.3.sift
benchmarks/SimResults/cpu_trace/GemsFDTD2/GemsFDTD.2.sift
benchmarks/SimResults/cpu_trace/sjeng2/sjeng.0.sift
benchmarks/SimResults/cpu_trace/sjeng2/sjeng.2.sift
benchmarks/SimResults/cpu_trace/sjeng2/sjeng.3.sift
benchmarks/SimResults/cpu_trace/leslie3d2/leslie3d.1.sift
benchmarks/SimResults/cpu_trace/leslie3d2/leslie3d.0.sift
benchmarks/SimResults/cpu_trace/leslie3d2/leslie3d.2.sift
benchmarks/SimResults/cpu_trace/leslie3d2/leslie3d.3.sift
benchmarks/SimResults/cpu_trace/perlbench2/perlbench.2.sift
benchmarks/SimResults/cpu_trace/perlbench2/perlbench.3.sift
benchmarks/SimResults/cpu_trace/perlbench2/perlbench.0.sift
benchmarks/SimResults/cpu_trace/gcc2/gcc.3.sift
benchmarks/SimResults/cpu_trace/gcc2/gcc.2.sift
benchmarks/SimResults/cpu_trace/gcc2/gcc.0.sift
benchmarks/SimResults/cpu_trace/gcc2/gcc.1.sift
benchmarks/SimResults/cpu_trace/soplex2/soplex.1.sift
benchmarks/SimResults/cpu_trace/soplex2/soplex.0.sift
benchmarks/SimResults/cpu_trace/soplex2/soplex.2.sift
benchmarks/SimResults/cpu_trace/soplex2/soplex.3.sift
benchmarks/SimResults/cpu_trace/bzip22/bzip2.0.sift
benchmarks/SimResults/cpu_trace/bzip22/bzip2.1.sift
benchmarks/SimResults/cpu_trace/bzip22/bzip2.3.sift
benchmarks/SimResults/cpu_trace/bzip22/bzip2.2.sift
benchmarks/SimResults/Paper2_fair_spec_base/run/data./xalancbmk.0.sift
benchmarks/SimResults/Paper2_fair_spec_base/run/data./mcf.0.sift
benchmarks/SimResults/Paper2_fair_spec_base/run/data./astar.0.sift
benchmarks/SimResults/Paper2_fair_spec_base/run/data./namd.0.sift
benchmarks/SimResults/Paper2_fair_spec_base/run/data./gamess.0.sift
benchmarks/SimResults/Paper2_fair_spec_base/run/data./leslie3d.0.sift
benchmarks/SimResults/Paper2_pinned_spec_base/run/data./astar.0.sift
benchmarks/SimResults/Paper2_pinned_spec_base/run/data./leslie3d.0.sift
benchmarks/SimResults/Paper2_pinned_spec_base/run/data./xalancbmk.0.sift
benchmarks/SimResults/Paper2_pinned_spec_base/run/data./namd.0.sift
benchmarks/SimResults/Paper2_pinned_spec_ml/run/data./namd.0.sift
benchmarks/SimResults/Paper2_pinned_spec_ml/run/data./leslie3d.0.sift
benchmarks/SimResults/Paper2_pinned_spec_ml/run/data./xalancbmk.0.sift
benchmarks/SimResults/Paper2_pinned_spec_ml/run/data./astar.0.sift
benchmarks/SimResults/old_stuff/oldresults/spec_baseline/run/data./libquantum.0.sift
benchmarks/SimResults/old_stuff/_baseline_splash_stats_fg/pinnedbarnes/stats.out
benchmarks/SimResults/old_stuff/_baseline_splash_stats_fg/pinnedocean.ncont/stats.out
benchmarks/SimResults/old_stuff/_baseline_splash_stats_fg/allStats.out
benchmarks/SimResults/old_stuff/_baseline_splash_stats_fg/pinnedcholesky/stats.out
benchmarks/SimResults/old_stuff/_baseline_splash_stats_fg/pinnedocean.cont/stats.out
benchmarks/SimResults/old_stuff/_baseline_splash_stats_fg/pinnedradix/stats.out
benchmarks/SimResults/old_stuff/_baseline_splash_stats_fg/pinnedradiosity/stats.out
benchmarks/SimResults/old_stuff/_baseline_splash_stats_fg/pinnedlu.ncont/stats.out
benchmarks/SimResults/old_stuff/_baseline_spec_stats_fg/pinnedbwaves/stats.out
benchmarks/SimResults/old_stuff/_baseline_spec_stats_fg/pinnedgobmk/stats.out
benchmarks/SimResults/old_stuff/_baseline_spec_stats_fg/pinnedastar/stats.out
benchmarks/SimResults/old_stuff/_baseline_spec_stats_fg/pinnedlibquantum/stats.out
benchmarks/SimResults/old_stuff/_baseline_spec_stats_fg/pinnedgromacs/stats.out
benchmarks/SimResults/old_stuff/_baseline_spec_stats_fg/pinnedxalancbmk/stats.out
benchmarks/SimResults/old_stuff/_baseline_spec_stats_fg/pinnedpovray/stats.out
benchmarks/SimResults/old_stuff/_baseline_spec_stats_fg/allStats.out
benchmarks/SimResults/old_stuff/_baseline_spec_stats_fg/pinnedomnetpp/stats.out
benchmarks/SimResults/old_stuff/_baseline_spec_stats_fg/pinnedlbm/stats.out
benchmarks/SimResults/old_stuff/_baseline_spec_stats_fg/pinnedgcc/stats.out
benchmarks/SimResults/old_stuff/_baseline_spec_stats_fg/pinnedcactusADM/stats.out
benchmarks/SimResults/old_stuff/_baseline_spec_stats_fg/pinnedhmmer/stats.out
benchmarks/SimResults/old_stuff/_baseline_spec_stats_fg/pinnedGemsFDTD/stats.out
benchmarks/SimResults/old_stuff/_baseline_spec_stats_fg/pinnednamd/stats.out
benchmarks/SimResults/old_stuff/_baseline_spec_stats_fg/pinnedh264ref/stats.out
benchmarks/SimResults/old_stuff/_baseline_spec_stats_fg/pinnedbzip2/stats.out
benchmarks/SimResults/old_stuff/_baseline_spec_stats_fg/pinnedmilc/stats.out
benchmarks/SimResults/old_stuff/_baseline_spec_stats_fg/pinnedmcf/stats.out
benchmarks/SimResults/old_stuff/_baseline_spec_stats_fg/pinnedgamess/stats.out
benchmarks/SimResults/old_stuff/_baseline_spec_stats_fg/pinnedzeusmp/stats.out
benchmarks/SimResults/old_stuff/_baseline_spec_stats_fg/pinnedleslie3d/stats.out
benchmarks/SimResults/old_stuff/_baseline_spec_stats_fg/pinnedperlbench/stats.out
benchmarks/SimResults/old_stuff/_baseline_spec_stats_fg/pinnedtonto/stats.out
benchmarks/SimResults/old_stuff/_baseline_spec_stats_fg/pinnedcalculix/stats.out
benchmarks/SimResults/old_stuff/_baseline_spec_stats_fg/pinnedsoplex/stats.out
benchmarks/SimResults/old_stuff/_baseline_spec_stats_fg/pinnedsjeng/stats.out
benchmarks/SimResults/old_stuff/_cmp_parallel_apps/gcclu.cont/stats.out
lib/pin_sim.so
lib/libcarbon_sim.a
lib/sniper

